.App {
  text-align: center;
  height:100vh;
}

#content {
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  
}

#content a:link {
  color: blue;
}

#navigation a:link {
  color: black;
}

#left {
 text-align: left; 
}
